<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Alvar & Hurrick's Meme Emporium</h1>
    <p class="lead">for the posting of dank memes</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

  <form class="thing-form col-lg-12">
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Write a message" ng-model="$ctrl.newThing">
      <span class="input-group-btn">
      <label class="btn btn-primary" class="btn btn-default btn-file">
        <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span><input type="file" style="display: none;">
      </label>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">
        Post <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </button>
      </span>
    </p>
  </form>

<div class="container"> 
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>
  <span><br></span>
</div>
